@import "tailwindcss";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

path.leaflet-interactive:focus {
    outline: none;
}

/* Remove bottom right leaflet attribution */
.leaflet-control-attribution {
  display: none;
}

@theme {
  --text-medium: 1.063rem; /* 17px */
}
